body {
    background-image: url("../assets/images/metal.jpg");
    background-size: cover;
    color: rgb(218, 218, 218);
    font-family: "Roboto Mono", monospace;
}
h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    color: rgb(218, 218, 218);
}
#config-form {
    padding-left: 10vw;
    padding-right: 5vw;
}
#ignore-words-form {
    padding-left: 5vw;
}
#btn-div {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-group-item {
    width: 80vw;
}
.text-with-button {
    width: 80vw;
}
.btn-outline-secondary {
    color: aliceblue;
}
