body {
    background-image: url('../assets/images/metal.jpg');
    background-size: cover;
    color: antiquewhite;
}
h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    color: antiquewhite;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
