body {
    background-color: rgb(202, 221, 223);
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#app-header {
    padding-top: 5vh;
    text-align: center;
    color: cornflowerblue;
}
#mission-form-label {
    width: 100vw;
    text-align: center;
}
#form_content {
    width: 80vw;
    margin: auto;
    align-items: center;
}
#mission_quality {
    text-align: center;
}
