body {
    background-color: rgb(201, 201, 228);
}
h1 {
    padding-top: 5vh;
    text-align: center;
    color: cornflowerblue;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
