<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<link rel='stylesheet' href="../css/multiWindow.css">

<!-- Google Font import -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">

<head>
    <title>Check Mission Files</title>
</head>

<body>
    <div>
        <h1>Check multi-missions</h1>
    </div>
    <div id='container'>
        <br>
        <div>
            <form id='form'>
                <input type="file" id='upload_file' name='upload_file'>
                <button type="submit" class="btn btn-primary">Check Missions</button>
            </form>
        </div>
        <br><br>
        <div id='dl_links' style="display: none;">
            <a href="file:///good.txt" class="btn btn-success" download>Download Good Missions</a>
            <a href="file:///bad.txt" class="btn btn-danger" download>Download Bad Missions</a>
        </div>
    </div>
    <script src="../js/multiWindow.js"></script>
</body>

</html>

